option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MapSuiteAPI.settings"
    "PYTHONPATH": "/opt/python/current/app/MapSuiteAPI:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: MapSuiteAPI/wsgi.py

packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []